{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projekt</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projekty.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ projekty.nazwa }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('operacje_nieprzypisane') }}">Operacje</a>
        </li>
    </ul>
{% endblock %}
