<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
        <style>
            .po_terminie{
                background: #f05d52;
            }
        </style>

    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript">
        {% block javascripts %}{% endblock %}
        </script>
    </body>
</html>
