{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nowa operacja</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Dodaj" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('wyplatygotowkowe_index') }}">Lista operacji</a>
        </li>
    </ul>
{% endblock %}
